.container {
  width: 1280px;
  height: 556px;
  padding: 90px 0 0 320px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 45px 106px 1fr;
  grid-column-gap: 32px;
  grid-gap: 16px;
}

.title,
.subtitle {
  font-family:
    Russo One,
    sans-serif;
  font-weight: 400;
}

.title {
  grid-row-start: 1;
}

.subtitle {
  font-size: 20px;
  grid-row-start: 2;
}

.paragraph {
  font-family: Muller, sans-serif;
  font-size: 20px;
  grid-row-start: 3;
}

.container img {
  grid-row-start: 4;
}
